.App{
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 85%;
}

.top-home{
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-size: 2.5vw;
  color: #FFD24C;
  font-weight: bold;
  margin-right: 2vw;
}

.buttons button{
  margin-right: 1vw;
}

.content{
  padding: 2% 5%;
}