.pool{
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 30% 55%;
}

.numbers{
  margin-top: 1vw;
}

.total{
  color: #92B4EC;
  font-size: 3vw;
  font-weight: bold;
}

.padding{
  text-align: center;
  margin-bottom: 3vw;
}

.separator{
  height: 1px;
  background-color: #FFD24C;
  width: 100%;
  padding: none;
}

.donations{}

.table{
  display: grid;
  justify-items: center;
}